<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand Management</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>Brand Management</h1>

    <!-- Add new Brand Form -->
     <form action="/add" method="POST">
        <input type="text" name="name" placeholder="Brand Name" required>
        <input type="text" name="description" placeholder="Brand Description" required>
        <button type="submit">Add Brand</button>
     </form>

     <!-- List Of Brands -->
<ul>
    <% brands.forEach(brand=>{ %>
    <li>
        <strong><%= brand.name %></strong>:<%= brand.description %>
        <a href="/edit/<%= brand._id %>"><button>Edit</button></a>
        <form action="/delete/<%= brand._id %>" method="post" style="display: inline;">
        <button type="submit">Delete</button>
        </form>
    </li>
<% }) %>
</ul>
</body>
</html>